ul {
    display: flex;
    justify-content: flex-end;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
display: inline;
padding: 10px;
}

#conteneur
{
display: flex;
flex-direction: column;
height: 100vh; /*pour faire une hauteur 100% de la hauteur de la page*/

}

.app {
background-image: url(app.png);
}


.body {
        margin: auto;

        }

.search-bar {
    display: flex;
    position: static;
    box-shadow: 0 2px 2px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin: 0 auto;
}

.search-button {
    display: flex;
    justify-content: space-around;
    padding: 0px 20% 0px 20%;
}

div#button1 {
    margin: 10px 6% 10px 10%;
    
}

div#button2 {
    margin: 10px 10% 10px 6%;

}

input[type=text] {
    width: 400px;
    height: 30px;
  
}

input[type=submit] {

    
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	min-width: 54px;
    border:1px solid #ccc;
    height: 36px;
    line-height: 27px;
    padding: 0 16px;
    text-align: center;

}

#logo {

    display: flex;
    justify-content: center;
 }

 a:link 
{ 
    text-decoration:none; 
    color: rgba(0,0,0,0.87);
    font-family: arial,sans-serif;
    font-size: 13px;
} 

.footer {
    display: flex;
    justify-content: space-between;
    }

/*.gauche {
    display: flex;
    align-content: flex-start;
}

.droite {
    display: flex;
    align-content: flex-end;

} */

.conex {
    background-color: blue
    color: white;
}
