
ul {
        display: flex;
        justify-content: flex-end;
        
        list-style-type: none;
        margin: 0;
        padding: 0;
}

li {
    display: inline;
    padding: 10px;
}

#conteneur
{
    display: flex;
    flex-direction: column;
    height: 600px;
}

.app {
    background-image: url(app.png);
}


.body {
    margin: auto;

}

.search-button {
    display: flex;
    flex-direction: row;
}

div#button1 {
    width: 45%;
    margin: 10px 10% 10px 2%;

}

div#button2 {
    width: 45%;
    margin: 10px 10% 10px 2%;
    
}


